/* creating two variables to modify bcolor and color of body, p, and h1*/
$color: #3D3D3D;
$bcolor: #6D6D6D;
body{
 color: $color;
 background-color: $bcolor;
}
p{
    color: $color;
}
h2{
    background-color: $bcolor ;
}
